{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">
			<svg class="icon icon-tag" width="16" height="16" viewBox="0 0 32 32"><path d="M4 0h8s2 0 4 2l15 15s2 2 0 4L21 31s-2 2-4 0L2 16s-2-2-2-4V3s0-3 4-3m3 10a3 3 0 0 0 0-6 3 3 0 0 0 0 6"></path></svg>
			{{ . }}
		</h1>
	</header>
	{{- end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{- range .Paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}