<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="/post/top-10-gaming-laptop-for-student-2024/">
                <p class="slider_title">Top 10 Laptop For Gamer 2024</p>
                <img
                    src="https://images.unsplash.com/photo-1704688618021-557e23d44850?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/post/top-10-gaming-laptop-for-student-2024/">
                <p class="slider_title">Top 10 Laptop For Designer 2024</p>
                <img
                    src="https://images.unsplash.com/photo-1716436329478-e4261139e1ca?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/post/top-10-gaming-laptop-for-student-2024/">
                <p class="slider_title">Top 5 Laptop For Developer 2024</p>
                <img
                    src="https://images.unsplash.com/photo-1716414458161-91b34446b749?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/post/top-10-gaming-laptop-for-student-2024/">
                <p class="slider_title">Top 10 Laptop For Gamer 2024</p>
                <img
                    src="https://images.unsplash.com/photo-1715942163404-b44e0808536b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/post/top-10-gaming-laptop-for-student-2024/">
                <p class="slider_title">Top 10 Laptop For Gamer 2024</p>
                <img
                    src="https://images.unsplash.com/photo-1715942163355-592c57361b9b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </a>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <div class="autoplay-progress">
        <svg viewBox="0 0 48 48">
            <circle cx="24" cy="24" r="16"></circle>
        </svg>
        <span></span>
    </div>
</div>
