

<p class="share__post">Share this post</p>

<div class="flex__center">
	<ul class="tags__list">
		<li class="tags__item">
			<a class="widget-social__link widget__link btn no__margin__bt tw" title="Twitter" rel="noopener noreferrer" href="https://twitter.com/share?url{{ . }}" target="_blank">
				<i class="fab fa-twitter"></i>
				<span class="pd__left">Twitter</span>
			</a>
		</li>
        <li class="tags__item">
			<a class="widget-social__link widget__link btn no__margin__bt lk" title="Linkedin" rel="noopener noreferrer" href="https://www.linkedin.com/cws/share?url={{ . }}" target="_blank">
				<i class="fab fa-linkedin"></i>
				<span class="pd__left">Linkedin</span>
			</a>
		</li>
        <li class="tags__item">
			<a class="widget-social__link widget__link btn no__margin__bt fb" title="Facebook" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u={{ . }}" target="_blank">
				<i class="fab fa-facebook"></i>
				<span class="pd__left">Facebook</span>
			</a>
		</li>
	</ul>
</div>

<!-- <p class="mt_10">This post may contain affiliate links. Please read our <a class="disclaimer" href="/disclaimer">Disclosure Policy.</a></p> -->
