<div class="top__menu">
        <a class="disclaimer" href="#">QR Code Generator</a>
        <a class="disclaimer" href="#">Name Generator</a>
        <a class="disclaimer" href="#">Loan Calculator</a>
</div>
<style>
    .top__menu {
        height: 32px;
        background: #9e1e1e;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-left: 10px;
        width: 100%;
    }
    .top__menu a:hover {
        color: white;
    }
</style>
